body {
    background-color: #2c3e50;
    margin: 0;
    font-family: "Avenir", "Calibri";
    font-weight: normal;
    
}

.square {
    width: 30%;
    background: white;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 3%;
    transition: background 0.5s;
    --webkit-transition: background 0.5s;
    --moz-transition: background 0.5s;
}

#container {
    margin: 20px auto;
    max-width: 600px;
}

#gameTitle {
    color: white;
    text-align: center;
    background-color: lightseagreen;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.2;
    padding-top: 20px;
    padding-bottom: 20px;
}

span {
    color: white;
}

#message {
    color: black;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 900;
    font-family: monospace;
    width: 25%;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
}

.selected {
    color: white;
    background-color:lightcoral;
}

#colorDisplay {
    font-size: 200%;
}

button {
    border: none;
    text-transform: uppercase;
    background: none;
    height: 100%;
    font-weight: 700;
    font-size: inherit;
    transition: all 0.4s;
    --moz-transition: all 0.4s;
    --webkit-transition: all 0.4s;
    outline: none;
}
button:hover {
    background: lightseagreen;
    color: white;
}

h3 {
    color: white;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.container {
    width: 50%;
    padding-top: 400px;
}