* {
	margin: 0 auto;
	padding: 0px;
}

body {
	background-color:#16191b;
	font-family: 'Lato', sans-serif;
}

td {
	width: 20px;
	height: 20px;
}

.blank {
	background-color:#16191b;
}

.snake {
	background-color: lightseagreen;
}

.wall {
	background-color: coral;
}

.fruit {
	background-color: ghostwhite;
}

.title {
	color: ghostwhite;
}